.store-list-container {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.store-list {
  list-style-type: none;
  padding: 0;
}

.store-list a {
  text-decoration: none; /* 밑줄 없애기 */
}

.store-item {
  padding: 0.75rem;
  background-color: #f9f9f9;
  margin: 0.5rem 0;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: #333;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: color 0.3s ease;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button {
  padding: 0.5rem 1rem;
  background-color: #0f4c81;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 1rem;
  font-size: 1rem;
}

.add-store-button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.add-store-button button {
  padding: 0.7rem 1rem;
  background-color: #0f4c81;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
