.store-add-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.store-form .form-group {
  margin-bottom: 1.5rem;
}

.store-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.store-form input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.store-form button {
  width: 100%;
  padding: 1rem;
  background-color: #0f4c81;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.store-form button:hover {
  background-color: #08497b;
}

img {
    margin-top: 1rem;
}
