* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f2f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
